package components

import "github.com/luism2302/goNances/views/models"

templ FormButton(params models.FormButtonParams) {
	<button class="h-full w-1/6 text-[#222831] rounded-md bg-[#FFD369] font-bold" type={ params.Type }>{ params.Label }</button>
}
