package components

templ NavBar() {
	<div class="top-0 left-0 h-16 w-screen m-0 flex bg-[#FFD369] gap-x-5 px-5 place-items-center">
		<a class="font-extrabold text-xl text-[#222831]">GoNances</a>
		<a class="font-bold text-lg hover:text-[#EEEEEE] text-[#222831] cursor-pointer">Dashboard</a>
		<a class="font-bold text-lg hover:text-[#EEEEEE] text-[#222831] cursor-pointer" hx-get="/expenses" hx-target="#content" hx-swap="innerHTML">Table</a>
	</div>
}
