package components

templ Input(params InputParams) {
	<div>
		<label for={ params.ID } class="font-mono text-sm text-[#222831]">{ params.Label }</label>
		<input class="bg-white w-14/16" type={ params.Type } id={ params.ID }/>
		if params.Error!= "" {
			<span id="errors" class="font-mono text-sm text-[#DC143C]">{ params.Error }</span>
		}
	</div>
}
