package components
templ header(title string) {
    <head>
        <title>{ title }</title>
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <link href="/static/css/styles.css" rel="stylesheet"/>
    </head>
}

templ Layout(contents templ.Component, title string) {
    @header(title)
    <body class="bg-[#94A378]">
        <main>
            @contents
        </main>
    </body>
}